.library {
   position: fixed;
   top: 0;
   left: 0;
   width: 20%;
   height: 100%;
   padding: 30px 0;
   background-color: whitesmoke;
   box-shadow: 2px 2px 50px rgb(182, 182, 182);
   overflow: scroll;
   transform: translateX(-100%);
   transition: all 0.7s ease;
   opacity: 0;

   h2 {
      padding: 0 0 10px 20px;
   }

   .library-songs {
      .library-song {
         display: flex;
         align-items: center;
         padding: 1rem 2rem;
         cursor: pointer;

         &:hover {
            background: rgb(207, 238, 255);
         }

         .song-description {
            padding-left: 1rem;

            h3 {
               font-size: 1.2rem;
            }

            h4 {
               font-size: 0.8rem;
            }
         }

         img {
            width: 40%;
         }
      }
   }
}

* {
   scrollbar-width: thin;
   scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
   width: 5px;
}
*::-webkit-scrollbar-track {
   background: transparent;
}
*::-webkit-scrollbar-thumb {
   background-color: rgba(155, 155, 155, 0.5);
   border-radius: 20px;
   border: transparent;
}

.selected {
   background: rgb(255, 219, 255);
}

.active-library {
   transform: translateX(0);
   opacity: 1;
}
